/* h1{
    background-color: lightblue;
    color: aliceblue;
}
body{
    background-color: lightblue;
    color: aliceblue;
}

.divclass{
    height: 350px;
    width: 350px;
    background-color: aqua;
    color: black;
    font-size: 30px;;
} */
/* div{
    background-color: aqua;
    color: black;
    height: 200px;
    width: 200px;
    border: 2px solid black;
    font-size: 20px ;
} */
.toggle{
    background-color: black;
    color: white;
}

.dark{
    background-color: black;
    color: white;
}

.light{
    background-color: white;
    color: black;
}
